@media (min-width: 250px) and (max-width: 599px) {
    #mainContent {
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        overflow: auto;
        margin-bottom: auto;
    }

    #mainContent > h2 {
        width: inherit;
        text-align: center;
        font-size: calc(12 * .25vw);
    }

    .qualifications {
        display: flex;
        text-align: center;
        padding: 15px;
        height: 80px;
        width: 100%;
        overflow: auto;
    }

    a:link, a:visited {
        color: black;
    }

    .qualifications > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        transition: all 200ms ease-in-out;
        border-radius: 7px;
        text-align: center;
        font-size: calc(12 * .26vw);
        height: fit-content;
        text-decoration: none;
        background-color: #e2e2e2;
        padding: 10px 10px;
    }

    .qualifications > a:hover {
        background-color: #cfcfcf;
        font-size: calc(5 * .24vw);
        transform: translateY(5px);
    }

    .context {
        min-height: 200px;
        max-height: 200px;
        border: 2px solid #cfcfcf;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        font-size: calc(11 * .30vw);
        overflow: auto;
        text-align: left;
    }

    .qua_info_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .qua_info_wrapper > .content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .qua_info_wrapper > .content > a {
        background-color: rgb(210, 218, 255);
        padding: 10px;
        border-radius: 7px;
        transition: background-color 200ms ease-in-out;
        font-size: calc(14 * .25vw);
        text-align: center;
        text-decoration: none;
    }

    .qua_info_wrapper > .content > a:hover {
        background-color: #cfcfcf;
    }

    .qua_info_wrapper > .content > div {
        max-height: 200px;
        overflow: auto;
        background-color: #f5f5f5;
        border: 2px solid #dedede;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        font-size: calc(12 * .27vw);
    }

    .qua_info_wrapper > .content > div > div:first-child {
        text-align: center;
        margin-bottom: 5px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    #mainContent {
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        overflow: auto;
        margin-bottom: auto;
    }

    #mainContent > h2 {
        width: inherit;
        text-align: center;
        font-size: calc(6 * .25vw);
    }

    .qualifications {
        display: flex;
        text-align: center;
        padding: 15px;
        height: 80px;
    }

    a:link, a:visited {
        color: black;
    }

    .qualifications > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        transition: all 200ms ease-in-out;
        border-radius: 7px;
        text-align: center;
        font-size: calc(6 * .26vw);
        text-decoration: none;
        background-color: #e2e2e2;
        padding: 5px 10px;
    }

    .qualifications > a:hover {
        background-color: #cfcfcf;
        font-size: calc(5 * .24vw);
        transform: translateY(5px);
    }

    .context {
        min-height: 200px;
        max-height: 200px;
        border: 2px solid #cfcfcf;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        font-size: calc(6 * .30vw);
        overflow: auto;
        text-align: left;
    }

    .qua_info_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .qua_info_wrapper > .content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .qua_info_wrapper > .content > a {
        background-color: rgb(210, 218, 255);
        padding: 15px;
        border-radius: 7px;
        transition: background-color 200ms ease-in-out;
        font-size: calc(7 * .25vw);
        text-align: center;
        text-decoration: none;
    }

    .qua_info_wrapper > .content > a:hover {
        background-color: #cfcfcf;
    }

    .qua_info_wrapper > .content > div {
        background-color: #f5f5f5;
        border: 2px solid #dedede;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        font-size: calc(6 * .27vw);
    }

    .qua_info_wrapper > .content > div > div:first-child {
        text-align: center;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 900px) and (max-width: 2560px) {
    #mainContent {
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        overflow: auto;
        margin-bottom: auto;
    }

    #mainContent > h2 {
        width: inherit;
        text-align: center;
        font-size: calc(5 * .25vw);
    }

    .qualifications {
        display: flex;
        text-align: center;
        padding: 15px;
        height: 80px;
    }

    a:link, a:visited {
        color: black;
    }

    .qualifications > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        transition: all 200ms ease-in-out;
        border-radius: 7px;
        text-align: center;
        font-size: calc(5 * .25vw);
        text-decoration: none;
        background-color: #e2e2e2;
        padding: 5px 25px;
    }

    .qualifications > a:hover {
        background-color: #cfcfcf;
        font-size: calc(5 * .24vw);
        transform: translateY(5px);
    }

    .context {
        min-height: 200px;
        border: 2px solid #cfcfcf;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        font-size: calc(4 * .30vw);
        overflow: auto;
        text-align: left;
    }

    .qua_info_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .qua_info_wrapper > .content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .qua_info_wrapper > .content > a {
        background-color: rgb(210, 218, 255);
        padding: 15px;
        border-radius: 7px;
        transition: background-color 200ms ease-in-out;
        font-size: calc(5 * .25vw);
        text-align: center;
        text-decoration: none;
    }

    .qua_info_wrapper > .content > a:hover {
        background-color: #cfcfcf;
    }

    .qua_info_wrapper > .content > div {
        background-color: #f5f5f5;
        border: 2px solid #dedede;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        font-size: calc(4 * .27vw);
    }

    .qua_info_wrapper > .content > div > div:first-child {
        text-align: center;
        margin-bottom: 5px;
    }
}
