main {
    min-height: 400px;
    width: 100%;
    flex: 1;
    background-color: rgba(167, 203, 241, 0.09);
    height: 100%;
    display: flex;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.list__wrapper {
    width: 250px;
}