@media (min-width: 250px) and (max-width: 599px) {
    .swiper-slide > a {
        font-size: calc(9 * .35vw);
        padding: calc(1 * .45vw) 0;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .swiper-slide > a {
        font-size: calc(8 * .25vw);
        padding: calc(1 * .45vw) 0;
    }
}

@media (min-width: 900px) and (max-width: 1279px) {
    .swiper-slide > a {
        padding: calc(1 * .65vw) 0;
        font-size: calc(5 * .25vw);
    }
}

@media (min-width: 1280px) and (max-width: 2560px) {
    .swiper-slide > a {
        font-size: calc(2 * .60vw);
        padding: calc(1 * .45vw) 0;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    border-radius: 7px;
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;
}

.swiper-slide:hover {
    background-color: #606060;
}

.swiper-slide > a {
    width: 100%;
    padding-left: 5px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-decoration: none;
}

/* Скрыть неактивные кнопки навигации */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none; /* Скрыть кнопки, имеющие класс .swiper-button-disabled */
}