<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Официальный сайт кафедры неврологии ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента
        РФ</title>
    <!-- Link Swiper's CSS-->
    <link href="frontend/images/Flag_of_Russia.svg" rel="icon" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
    <link href="frontend/styles/topBar.css" rel="stylesheet">
    <link href="frontend/styles/topNavSwiper.css" rel="stylesheet">
    <link href="frontend/styles/footer.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="topBar">
        <div id="flag">
            <div class="wave2"></div>
            <div class="wave3"></div>
        </div>
        <div class="topBarContext">
            <a href="/">
                <div>Кафедра неврологии Официальный сайт</div>
                <div>ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента РФ</div>
            </a>
        </div>
        <div class="topBarImages">
            <img alt="Георгиевская лента" src="frontend/images/GeorgeLine.svg"/>
            <img alt="Герб УДПРФ" id="imageEvent" src="frontend/images/Upravlenie-Delami-Presidenta-Gerb.svg"/>
        </div>
    </div>
    <div class="topNavPanel">
        <img alt="Влево" class="bLeft" src="frontend/images/arrow_icon-icons.com_73519.svg"/>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="?learning" title="Обучение">Обучение</a></div>
                <div class="swiper-slide"><a href="?history" title="История">История</a></div>
                <div class="swiper-slide"><a href="?scientific" title="Научная работа">Научная работа</a></div>
                <div class="swiper-slide"><a href="?library" title="Библиотека">Библиотека</a></div>
                <div class="swiper-slide"><a href="?clinical_base" title="Клинические базы">Клинические базы</a></div>
                <div class="swiper-slide"><a href="#" id="AnnualConferences" title="Ежегодные конференции">Ежегодные
                    конференции ▼</a></div>
                <div class="swiper-slide"><a href="#" title="Научный кружок 'Школа молодых неврологов'">Научный кружок
                    "Школа молодых неврологов"</a></div>
                <div class="swiper-slide"><a href="#" title="Новости и объявления">Новости и объявления</a></div>
                <div class="swiper-slide"><a href="?contactInfo" title="Контактная информация">Контактная информация</a>
                </div>
            </div>
        </div>
        <img alt="Вправо" class="bRight" src="frontend/images/arrow_icon-icons.com_73519.svg"/>
    </div>
    <div id="dropdown-content">
        <a>Научно-практическая конференция "Инновационные технологии в области неврологии и смежных специальностей"</a>
        <a>Научно-образовательная конференция "Неврологические образовательные университеты"</a>
    </div>
</header>