<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Официальный сайт кафедры неврологии ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента
        РФ</title>
    <!-- Link Swiper's CSS-->
    <link rel="icon" href="frontend/images/Flag_of_Russia.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="frontend/styles/topNavSwiper.css">
    <link rel="stylesheet" href="frontend/styles/topBar.css">
    <link rel="stylesheet" href="frontend/styles/footer.css">
</head>
<body>
<header>
<div class="topBar">
    <div id="flag">
        <div class="wave2"></div>
        <div class="wave3"></div>
    </div>
    <div class="topBarContext">
        <a href="/">
            <div>Кафедра неврологии Официальный сайт</div>
            <div>ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента РФ</div>
        </a>
    </div>
    <div class="topBarImages">
        <img src="frontend/images/GeorgeLine.svg" alt="Георгиевская лента"/>
        <img id="imageEvent" src="frontend/images/Upravlenie-Delami-Presidenta-Gerb.svg" alt="Герб УДПРФ"/>
    </div>
</div>
<div class="topNavPanel">
    <img class="bLeft" src="frontend/images/arrow_icon-icons.com_73519.svg" alt="Влево"/>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="#" title="Обучение">Обучение</a></div>
            <div class="swiper-slide"><a href="?history" title="История">История</a></div>
            <div class="swiper-slide"><a href="#" title="Научная работа">Научная работа</a></div>
            <div class="swiper-slide"><a href="?library" title="Библиотека">Библиотека</a></div>
            <div class="swiper-slide"><a href="#" title="Клинические базы">Клинические базы</a></div>
            <div class="swiper-slide"><a id="AnnualConferences" href="#" title="Ежегодные конференции">Ежегодные
                конференции ▼</a></div>
            <div class="swiper-slide"><a href="#" title="Научный кружок 'Школа молодых неврологов'">Научный кружок
                "Школа молодых неврологов"</a></div>
            <div class="swiper-slide"><a href="#" title="Новости и объявления">Новости и объявления</a></div>
            <div class="swiper-slide"><a href="#" title="Контактная информация">Контактная информация</a></div>
        </div>
    </div>
    <img class="bRight" src="frontend/images/arrow_icon-icons.com_73519.svg" alt="Вправо"/>
</div>
<div id="dropdown-content">
    <a>Научно-практическая конференция "Инновационные технологии в области неврологии и смежных специальностей"</a>
    <a>Научно-образовательная конференция "Неврологические образовательные университеты"</a>
</div>
</header>